.App {
  max-width: 950px;
  margin: 0 auto;

}
.container {
  margin-top: 30px;
}

li {
  list-style: none;
}

.App footer {
  text-align: center;
  color: black;
  margin-bottom: 50px;
  font-size: 15px;
}
.App a {
  color: #AA8DE8;
}